@{ ViewData["Title"] = "Главная"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h4>Для просмотра каталога фильмов необходимо <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="SignIn">войти в систему</a></h4>
</div>