@{ ViewData["Title"] = "Главная"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    @*@if (!SignInManager.IsSignedIn(User))*@
    {
<a asp-controller="Films" asp-action="Index">Перейти в каталог</a>}
    else
    { @*<partial name="Films" />*@

    }
</div>